body {
    margin:0;
    padding:0;
    background-color:#f1f4f7;
    font-size: 14px;
	color: #444444;
	font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial,
		sans-serif;    
}

.mynav {
    background-color:#08526d !important;
    line-height:20px;
}
.navbar-brand {
    font-family:fantasy;
    color:red !important;
    font-style:italic;
    width:4rem;
    font-size:40px;
    
}
.mynav a:hover {
        
        color:gold!important;
    }
.nav-link {
    margin-right:5px;
    color:white;
}
span.active {
    padding:40px 15px 14px ;
    background-color:#DC143C;
}
 .border-bottom  {
   border-color:#00B2EE !important;
    border-width:3px  !important;
    box-sizing:border-box;
    
}

.mycard ul {
    list-style-type:none !important;
}
.mycard a {
    color:white!important;
}
.mycard a:hover {
    text-decoration:none;
    color:#6FA8DC!important;
}
.b {
    border-bottom:3px solid #696969;
    margin: -45px -20px 40px -60px;
    
    padding: 25px 0px 10px 35px;
}
.b1 {
     border-bottom:3px solid #696969;
    margin: -25px -20px 40px -60px;
    
    padding: 25px 0px 10px 35px;
}

.m {
    margin:-20px 0px 0px -26px;
    
}
.card {
    /*border:0px !important;*/
    box-shadow:-5px 1px 5px 4px #7285A5;
}
.card-group {
    margin-top:30px;
}
.card-header {
    /*width:350px;*/
    background-color:#A9A9A9!important;
    color:white;
    font-size:25px;
    font-family:cursive;
   
}
.card-body {
   width:366px;
   overflow-x: auto; /* Hide horizontal scrollbar */
  overflow-y: hidden; /* Add vertical scrollbar */
    height:315px;
     background-color:#006868!important;
     text-emphasis-color:#A9A9A9!important;
     font-size:20px;
     font-family:cursive;
     

}




@media only screen and (max-width: 1140px) {
   .card-group{
       display:block;
       margin-top:60px;
   }
}
@media only screen and (min-width: 1140px) {
   .card-group{
       margin-top:20px;
   }
  
}