<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory name="alm">
  <property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
  <property name="hibernate.connection.password">alm</property>
  <property name="hibernate.connection.url">jdbc:oracle:thin:@localhost:1523:ALM</property>
  <property name="hibernate.connection.username">alm</property>
  <property name="hibernate.default_schema">alm</property>
  <property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>  
  <property name="connection.pool_size">10</property>
  
  <property name="hibernate.jdbc.batch_size">30</property>
  <property name="hibernate.order_inserts">true</property>
  <property name="hibernate.order_updates">true</property>
  <property name="hibernate.jdbc.batch_versioned_data">true</property>
 
    <!-- Echo all executed SQL to stdout -->
  <!--   <property name="show_sql">true</property>    -->

  <mapping class="com.aliat.alm.models.Item"/>
  <mapping class="com.aliat.alm.models.Role"/>
  <mapping class="com.aliat.alm.models.ItemCategory"/>
  <mapping class="com.aliat.alm.models.ArNode"/> 
  <mapping class="com.aliat.alm.models.FarNode"/>
  <mapping class="com.aliat.alm.models.FarSite"/>
  <mapping class="com.aliat.alm.models.AntennaMakeModel"/>
  <mapping class="com.aliat.alm.models.Supplier"/>
  <mapping class="com.aliat.alm.models.PurchaseRequest"/>
  <mapping class="com.aliat.alm.models.PurchaseRequestItem"/>  
  <mapping class="com.aliat.alm.models.Warehouse"/>
   <mapping class="com.aliat.alm.models.Company"/>
  <mapping class="com.aliat.alm.models.CompanyListView"/>
  <mapping class="com.aliat.alm.models.PurchaseOrder"/>
  <mapping class="com.aliat.alm.models.PurchaseOrderItem"/>
  <mapping class="com.aliat.alm.models.GoodsReceived"/>
  <mapping class="com.aliat.alm.models.GoodsReceivedItem"/>
  <mapping class="com.aliat.alm.models.AssetRegistry"/>
  <mapping class="com.aliat.alm.models.FixedAssetRegistry"/>
  <mapping class="com.aliat.alm.models.CapitalInProgress"/>
  <mapping class="com.aliat.alm.models.Process"/>
  <mapping class="com.aliat.alm.models.ProcessOperation"/>
  <mapping class="com.aliat.alm.models.DiscoveryNew"/>
  <mapping class="com.aliat.alm.models.DiscoveryNewItem"/>
  <mapping class="com.aliat.alm.models.Message"/>
  <mapping class="com.aliat.alm.models.User"/>
  <mapping class="com.aliat.alm.models.UserRole"/>
  <mapping class="com.aliat.alm.models.WorkOrder"/>
  <mapping class="com.aliat.alm.models.Capital_InProgressListView"/>
  <mapping class="com.aliat.alm.models.AssetRegistryListView"/>
  <mapping class="com.aliat.alm.models.WorkOrder"/>
  <mapping class="com.aliat.alm.models.WorkOrderSource"/>
  <mapping class="com.aliat.alm.models.WorkOrderDestination"/>
  <mapping class="com.aliat.alm.models.AssetLifeCycle"/>
  <mapping class="com.aliat.alm.models.RolePermission"/>
  <mapping class="com.aliat.alm.models.SerialNumber"/>
  <mapping class="com.aliat.alm.models.WarehouseProfitloss"></mapping>
  <mapping class="com.aliat.alm.models.WarehousePassive"></mapping>
  <mapping class="com.aliat.alm.models.Area"/>
  <mapping class="com.aliat.alm.models.AreaFinance"/>
  <mapping class="com.aliat.alm.models.AssetDepreciation12Month"/>
  <mapping class="com.aliat.alm.models.Cluster"/>
  <mapping class="com.aliat.alm.models.ClusterFinance"/>
  <mapping class="com.aliat.alm.models.ItemBarcode"/>
  <mapping class="com.aliat.alm.models.ItemCategoryTree"/>
  <mapping class="com.aliat.alm.models.ItemPartNumber"/>
  <mapping class="com.aliat.alm.models.FarPartNumber"/>
  <mapping class="com.aliat.alm.models.ArSerialNumber"/>
  <mapping class="com.aliat.alm.models.ArSite"/>
  <mapping class="com.aliat.alm.models.ArPartNumber"/>
  <mapping class="com.aliat.alm.models.FarSerialNumber"/>
  <mapping class="com.aliat.alm.models.Region"/> 
  <mapping class="com.aliat.alm.models.TroubleTickets"/> 
  <mapping class="com.aliat.alm.models.Clients"/> 
  <mapping class="com.aliat.alm.models.TroubleTickets_Action"/> 
  <mapping class="com.aliat.alm.models.DevicesCausedProblem"/> 
  <mapping class="com.aliat.alm.models.LinkFailurePlaces"/> 
  <mapping class="com.aliat.alm.models.Shops"/> 
  <mapping class="com.aliat.alm.models.TroubleTickets_Assign"/> 
  <mapping class="com.aliat.alm.models.Agent"/> 
  <mapping class="com.aliat.alm.models.SchedulerRules"/>
  <mapping class="com.aliat.alm.models.ReportsList"/>
  <mapping class="com.aliat.alm.models.ReportInputParams"/>  
  <mapping class="com.aliat.alm.models.Notification"/> 
  <mapping class="com.aliat.alm.models.NotificationRecipients"/>    
  <mapping class="com.aliat.alm.models.AgentArea"/>
  <mapping class="com.aliat.alm.models.AgentRegion"/>
  <mapping class="com.aliat.alm.models.Modules"/>
  <mapping class="com.aliat.alm.models.RuleParameters"/>
  <mapping class="com.aliat.alm.models.SimCard"/>
  <mapping class="com.aliat.alm.models.EmailAccounts"/>
  <mapping class="com.aliat.alm.models.SimTransaction"/>
  <mapping class="com.aliat.alm.models.SimTransactionItem"/>
  <mapping class="com.aliat.alm.models.SerialNumberSimTransaction"/>
  <mapping class="com.aliat.alm.models.AreaBorder"/>
  <mapping class="com.aliat.alm.models.AgentBorder"/>
  <mapping class="com.aliat.alm.models.RegionBorder"/>
  <mapping class="com.aliat.alm.models.AgentShops"/>
  <mapping class="com.aliat.alm.models.WorkOrderDestinationSerial"/>
  <mapping class="com.aliat.alm.models.WorkOrderSourceSerial"/>
  <mapping class="com.aliat.alm.models.MobileAgentAPI"/>
  <mapping class="com.aliat.alm.models.MobileClientAPI"/>
  <mapping class="com.aliat.alm.models.RegionName"/>
  <mapping class="com.aliat.alm.models.ClientListViewAPI"/>
  <mapping class="com.aliat.alm.models.ApiParameters"/>
  <mapping class="com.aliat.alm.models.SpeedCoverageTestAPI"/>
  <mapping class="com.aliat.alm.models.SpeedCoverageTestListViewAPI"/>
  <mapping class="com.aliat.alm.models.SitesListViewAPI"/>
  <mapping class="com.aliat.alm.models.FindedSitesAPI"/>
  <mapping class="com.aliat.alm.models.WarehouseAPI"/>
  <mapping class="com.aliat.alm.models.WarehouseImageAPI"/>
  <mapping class="com.aliat.alm.models.ScanDataAPI"/>
  <mapping class="com.aliat.alm.models.ScanListViewAPI"/>
  <mapping class="com.aliat.alm.models.SimRegistrationAPI"/>
  <mapping class="com.aliat.alm.models.NodeActive"/>
  <mapping class="com.aliat.alm.models.SimRegReportAPI"/>
  <mapping class="com.aliat.alm.models.Mobile_TroubleTickets_Info"/>
  <mapping class="com.aliat.alm.models.Mobile_Trouble_Tickets_Assign"/>
  <mapping class="com.aliat.alm.models.Mobile_Trouble_Tickets_Actions"/> 
  <mapping class="com.aliat.alm.models.Mobile_TT_LINK_FAILURE"/>
  <mapping class="com.aliat.alm.models.Mobile_TT_DCP"/>
  <mapping class="com.aliat.alm.models.ShopsListViewAPI"/>
  <mapping class="com.aliat.alm.models.DisplayShopsAPI"/>
  <mapping class="com.aliat.alm.models.ShopsAPI"/>
  <mapping class="com.aliat.alm.models.ShopImageAPI"/>
  <mapping class="com.aliat.alm.models.FiscalYear"/>
  <mapping class="com.aliat.alm.models.MobileChargeListViewAPI"/>
<mapping class="com.aliat.alm.models.DistributionBoard"/>
<mapping class="com.aliat.alm.models.DistributionBoardMapping"/>
<mapping class="com.aliat.alm.models.FiberCable"/>
<mapping class="com.aliat.alm.models.FiberAuxPoints"/>
<mapping class="com.aliat.alm.models.FiberTubes"/>
<mapping class="com.aliat.alm.models.TubeAuxPoints"/>
<mapping class="com.aliat.alm.models.FiberStrands"/>
<mapping class="com.aliat.alm.models.StrandAuxPoints"/>
<mapping class="com.aliat.alm.models.TrenchAuxPoints"/>
<mapping class="com.aliat.alm.models.Trench"/>
<mapping class="com.aliat.alm.models.DuctAuxPoints"/>
<mapping class="com.aliat.alm.models.Duct"/>
<mapping class="com.aliat.alm.models.AccessCableJunction"/>
<mapping class="com.aliat.alm.models.Customer"/> 
<mapping class="com.aliat.alm.models.NodeListView"/> 
<mapping class="com.aliat.alm.models.NodePassive"/>
<mapping class="com.aliat.alm.models.GCellPassive"/>
<mapping class="com.aliat.alm.models.LCellPassive"/>
<mapping class="com.aliat.alm.models.UCellPassive"/>
<mapping class="com.aliat.alm.models.DiscoveryNewItemNode"/>
<mapping class="com.aliat.alm.models.CustomerService"/>
<mapping class="com.aliat.alm.models.Survey"/>
<mapping class="com.aliat.alm.models.ManholeSurvey"/>
<mapping class="com.aliat.alm.models.HandholeSurvey"/>
<mapping class="com.aliat.alm.models.DistributionBoardSurvey"/>
<mapping class="com.aliat.alm.models.NodeSurvey"/>
<mapping class="com.aliat.alm.models.FiberCableSurvey"/>
<mapping class="com.aliat.alm.models.FiberStrandsSurvey"/>
<mapping class="com.aliat.alm.models.FiberTubesSurvey"/>
<mapping class="com.aliat.alm.models.PhysicalLayerActivity"/>
<mapping class="com.aliat.alm.models.AttachmentUpload"/>
<mapping class="com.aliat.alm.models.SystemSettings"/>
<mapping class="com.aliat.alm.models.ModuleField"/>
<mapping class="com.aliat.alm.models.ModuleScreen"/>
<mapping class="com.aliat.alm.models.RolePermissionException"/>
<mapping class="com.aliat.alm.models.NodePortMapping"/>
<mapping class="com.aliat.alm.models.ControllerPanel"/>
<mapping class="com.aliat.alm.models.PanelKit"/>
<mapping class="com.aliat.alm.models.PanelModule"/>
   </session-factory>
</hibernate-configuration>
