<script src="${pageContext.request.contextPath}/resources/js/jquery.js"></script>

<script type="text/javascript" src="${pageContext.request.contextPath}/resources/js/moment.min.js"></script>
<script type="text/javascript" src="${pageContext.request.contextPath}/resources/js/tempusdominus-bootstrap-4.min.js"></script>
<link rel="stylesheet" href="${pageContext.request.contextPath}/resources/css/tempusdominus-bootstrap-4.min.css" />	
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>


<script src="${pageContext.request.contextPath}/resources/js/bootstrap.min.js"></script>
<link href="${pageContext.request.contextPath}/resources/css/bootstrap.min.css" rel="stylesheet">
<script src="${pageContext.request.contextPath}/resources/js/dataTables.min.js"></script>
<link rel="stylesheet" href="${pageContext.request.contextPath}/resources/css/dataTables.min.css">	

	  		
<script src="${pageContext.request.contextPath}/resources/js/all.min.js"></script>
<link href="${pageContext.request.contextPath}/resources/css/all.min.css" rel="stylesheet">	 	
<link rel="stylesheet" href="${pageContext.request.contextPath}/resources/css/ListView.css">	
<link rel="stylesheet" href="${pageContext.request.contextPath}/resources/css/header.css">
	

<script src="${pageContext.request.contextPath}/resources/js/jquery-migrate-3.0.0.min.js"></script>
	
	
<script src="${pageContext.request.contextPath}/resources/js/jquery2-ui.js"></script>	 
<link rel="stylesheet" href="${pageContext.request.contextPath}/resources/css/jquery-ui.css" rel="stylesheet"/>


<link rel="stylesheet" href="${pageContext.request.contextPath}/resources/css/font-awesome.min.css">

<link rel="stylesheet" type="text/css" href="${pageContext.request.contextPath}/resources/css/jquerysctipttop.css">
<link rel="stylesheet" href="${pageContext.request.contextPath}/resources/css/bootstrap-datetimepicker.min.css">


<style>
	.ui-autocomplete {
          	max-height: 300px;
		overflow-y: auto; /* prevent horizontal scrollbar */
		overflow-x: both; /* add padding to account for vertical scrollbar */
		padding-right: 100px;
      		}

	.dot {
	  height: 17px;
	  width: 17px;
	  background-color: chartreuse;
	  border-radius: 50%;
	  display: inline-block;
	  margin-top: 10px;
	  margin-right: 10px;
	  margin-left: 10px;  
	}
	        		 
 </style>
	
	